* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 80px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: radial-gradient(circle, #fffdfd, #e27878);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    border-radius: 12px;
    background: linear-gradient(to right, #d2b48c, white);
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-weight: 900;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    padding-bottom: 50px;
}

.header .row {
    margin-top: 80px;
}
.categories{
    margin: 10px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    border-radius: 12px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 20%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    font-size: 30px;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    width: 80px;
    height: 5px;
    background: #ff523b;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    font-weight: normal;
    color: #555;
    margin: 10px 0;
}
.col-4 p{
    font-size: 14px;
    color: #052e36;
    font-weight: bold;
}
.rating .fa{
    color: #ff523b;
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(circle, #f0f0f0, #f48787);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2.offer img{
    padding: 50px;
}
small{
    color: #555;
}

.testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    margin: 10px 0;
}
.brands{
    margin: 100px auto;
}
.brands .col-5{
    width: 160px;
}
.brands .col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}
.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}

/** All Products **/
h2{
    margin-right: auto;
}
.row2{
    justify-content: space-between;
    margin:100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
    border-radius: 30px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}   
.page-btn span{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: #ff523b;
    color: white;
}